nav {
  height: 75px;
  border-bottom: $border_bottom;
  line-height: 75px;

  div.nav-left{
    float: left;

    a i{
      margin-right: 5px;
    }
  }

  .nav-right{
    float: right;

    ul{
      li{
       display: inline-block;
       margin-right: 40px;
     }
    }
  }
}
