nav {
  height: 75px;
  border-bottom: $border_bottom;
  padding: 20px 0;
  font-weight: bold;

  div.nav-left{
    float: left;
    padding: 7px;
    a i{
      margin-right: 5px;
    }
  }

  .nav-right{
    float: right;

    ul{
      li{
       display: inline-block;
       margin-right: 40px;
       padding: 7px;
       a:hover{
         color:rgb(60, 70, 113);
       }
       &:last-child{
         border: 1px solid blue;
         border-radius: 6px;
         &:hover{
           background-color: blue;
           a{
             color:white;
           }
         }
       }
     }
    }
  }
}
