// borders
$border_bottom: 1px solid black;

// texts
$text-color: rgb(88, 64, 44);

// my button
$button_backgound: #30488f;
$button_backgound_hover: rgb(40, 60, 119);
$button_text_color: white;
$button_border_radius: 7px;

// page custom backgound colors
$page_background_color: #FFE7D2;
