* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #58402c;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1150px;
  margin: auto;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

a {
  text-decoration: none;
  color: #58402c;
}

/* header */

nav {
  height: 75px;
  border-bottom: 1px solid black;
  padding: 20px 0;
  font-weight: bold;
}

nav div.nav-left {
  float: left;
  padding: 7px;
}

nav div.nav-left a i {
  margin-right: 5px;
}

nav .nav-right {
  float: right;
}

nav .nav-right ul li {
  display: inline-block;
  margin-right: 40px;
  padding: 7px;
}

nav .nav-right ul li a:hover {
  color: #3c4671;
}

nav .nav-right ul li:last-child {
  border: 1px solid blue;
  border-radius: 6px;
}

nav .nav-right ul li:last-child:hover {
  background-color: blue;
}

nav .nav-right ul li:last-child:hover a {
  color: white;
}

/* main */

.container#jumbo {
  padding: 70px 0;
}

.container#jumbo .left {
  width: 45%;
  float: left;
  line-height: 1.5;
}

.container#jumbo .left h1 {
  font-size: 48px;
}

.container#jumbo .left p {
  margin: 10px 0;
  font-size: 22px;
}

.container#jumbo .left .mybtn {
  height: 35px;
  line-height: 35px;
  padding: 0 20px;
  color: white;
  font-size: 0.875rem;
  background: #30488f;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.container#jumbo .left .mybtn:hover {
  background: #283c77;
}

.container#jumbo .left .separatOr {
  margin: 0 14px;
  color: black;
  opacity: 0.4;
}

.container#jumbo .left .email {
  margin-top: 10px;
}

.container#jumbo .left .email a {
  font-size: 12px;
}

.container#jumbo .left .email a:hover {
  color: #3c4671;
}

.container#jumbo .right {
  width: 55%;
  float: left;
}

.container#jumbo .right img {
  max-width: 100%;
}

.traditional {
  background-color: #FFE7D2;
  text-align: center;
}

.traditional .container {
  height: 2056px;
}

.traditional .container .processes {
  height: 160px;
  display: -webkit-box;
  display: flex;
}

.traditional .container .processes h1 {
  margin: auto;
}

.traditional .container .lower {
  border-top: 1px solid black;
}

.traditional .container .upper .colbox,
.traditional .container .lower .colbox {
  height: 218px;
}

.traditional .container .upper .colbox .col-3,
.traditional .container .lower .colbox .col-3 {
  float: left;
  width: calc( 100% / 3);
}

.traditional .container .upper .colbox .col-3 .imgbox,
.traditional .container .lower .colbox .col-3 .imgbox {
  width: 170px;
  height: 140px;
  margin: auto;
}

.traditional .container .upper .colbox .col-3 .imgbox img:not(.shieldcat),
.traditional .container .lower .colbox .col-3 .imgbox img:not(.shieldcat) {
  width: 100%;
  height: 100%;
}

.traditional .container .upper .colbox .col-3 .imgbox .shieldcat,
.traditional .container .lower .colbox .col-3 .imgbox .shieldcat {
  height: 100%;
}

.traditional .container .upper .colbox .col-3 p,
.traditional .container .lower .colbox .col-3 p {
  padding: 0 64px;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 24px;
}

.traditional .container .upper .bunny,
.traditional .container .lower .bunny {
  height: 570px;
  display: -webkit-box;
  display: flex;
}

.traditional .container .upper .bunny div,
.traditional .container .lower .bunny div {
  height: 350px;
  width: 380px;
  margin: auto;
}

.traditional .container .upper .bunny div img,
.traditional .container .lower .bunny div img {
  max-width: 340px;
}

/* footer */

